<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
</head>
<body>
    <h1>ToDo task list</h1>
    <table>
        <thead>
            <th>Task</th> <!-- table header  -->
            <th>Status</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr>        <!-- table row  -->
                <td>    <!-- table data  -->
                    Estudar EJS
                </td>
                <td>
                    pendente
                </td>
                <td>
                    <a>Concluir</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <a>New task</a>
</body>
</html>