<%- include("partials/head.ejs") %>

    <h1>ToDo list: new task</h1>
    <form action="/tasks" method="POST">
        <label placeholder="Name of task" for="title">
            Task Title:
        </label>
        <input type="text" name="title" id="title" required>
        <button type="submit">Add Task</button>
    </form> 
    <a href="/tasks">Back to list</a>   
     
<%- include("partials/footer.ejs") %>